<main>
  <form>
    <h4 class="d-flex justify-content-center mt-5 mb-3">ログイン画面</h4>
    <div class="d-flex justify-content-center">
      <div class="form-group">
        <label class="mb-0" for="email">メールアドレス</label>
        <p><input type="email" id="email" required></p>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="form-group">
        <label class="mb-0" for="password">パスワード</label>
        <p><input type="password" id="password" required></p>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">ログイン</button>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <a href="">まだ登録がお済みでない方はこちら</a>
    </div>
  </form>
</main>