body {
  margin: 0;
  display: flex;
  /* フッターをウィンドウの最下部に常に表示させるために */
  flex-flow: column;
  /* flexboxのみだと横並びに。これで縦並び */
  min-height: 100vh;
  /* body全体の表示領域を確保・指定 */
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, sans-serif;
}

header {
  background-color: #ffe040;
  z-index: 10;
  /* 要素の重なり順序指定 */

  ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }

}

header h1 {
  font-weight: bold;
}

header a {
  font-weight: bold;
  padding-left: 8px;
}

header p {
  text-align: right;
  padding: 0rem 1rem;
  margin-bottom: 0 !important;
}

header li {
  list-style: none;
}

main {
  background: #ffffff;
  flex: 1;
  /* header footerの高さを除いた、残りの部分がmainで埋まる */
}

footer {
  width: 100%;
  background-color: #ffe040;
  position: relative;
  ;
  bottom: 0;
}

footer h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 8px 5px;
}

footer p {
  text-align: right;
  font-weight: lighter;
  margin: 0 auto;
}

.table td {
  border: none;
}

.container {
  margin-left: 20em;
}

.pagination {
  justify-content: center;
}