<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>商品詳細</title>
    <style>
      body {
        margin: 0;
        display: flex;
        /* フッターをウィンドウの最下部に常に表示させるために */
        flex-flow: column;
        /* flexboxのみだと横並びに。これで縦並び */
        min-height: 100vh;
        /* body全体の表示領域を確保・指定 */
        font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
          Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, sans-serif;
      }
      header {
        background-color: #ffe040;
        z-index: 10;
        /* 要素の重なり順序指定 */
      }
      header h1 {
        font-weight: bold;
      }
      header a {
        font-weight: bold;
        padding-left: 8px;
      }
      header p {
        text-align: right;
      }
      header li {
        list-style: none;
      }
      main {
        background: #ffffff;
        flex: 1;
        /* header footerの高さを除いた、残りの部分がmainで埋まる */
      }
      footer {
        width: 100%;
        background-color: #ffe040;
        position: absolute;
        bottom: 0;
      }
      footer h1 {
        font-size: 15px;
        font-weight: bold;
        margin: 8px 5px;
      }
      footer p {
        text-align: right;
        font-weight: lighter;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="navbar-nav mr-auto">
          <h1><a class="navbar-brand" href="#">探求学園Rails専攻</a></h1>
        </div>
        <div>
          <ul>
            <p>〇〇 ××さん</p>
          </ul>
          <ul class="navbar-nav">
            <a class="text-dark" href="#">商品検索</a>
            <a class="text-dark" href="#">カート</a>
            <a class="text-dark" href="#">注文履歴</a>
            <a class="text-dark" href="#">ユーザ情報</a>
            <a class="text-dark" href="#">ログアウト</a>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="jumbotron text-center bg-white"></div>
          <div class="text-center">
            <h1>該当商品が見つかりませんでした…</h1>
            <p class="mt-5">商品検索画面に戻り、やり直してください</p>
            <button type="button" class="btn btn-primary">商品検索画面へ</button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <h1>探求学園Rails専攻</h1>
      <p>© 2020 QuestAcademia, All rights reserved</p>
    </footer>
  </body>
</html>
